

@{
    ViewData["Title"] = "StaffAndEnrollee";
    Layout = null;
}

@model IEnumerable<ComplaintService.Client.Models.ConversionVM>

  @using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

 
@if ((await AuthorizationService.AuthorizeAsync(User, "CanCreateAndModifyData")).Succeeded)
{
   
}



@section styles{
    <link href="~/css/toggle.css" rel="stylesheet" />


}

<style>
    * {
        padding: 0px;
        margin: 0px;
    }

    body {
        background-color: lightgreen;
    }

    header {
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15vh;
        box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
    }

    h1 {
        letter-spacing: 1.5vw;
        font-family: 'system-ui';
        text-transform: uppercase;
        text-align: center;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75vh;
        width: 100%;
        background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Mountains-1412683.svg/1280px-Mountains-1412683.svg.png) no-repeat center center;
        background-size: cover;
    }

    .form_class {
        width: 500px;
        padding: 40px;
        border-radius: 8px;
        background-color: white;
        font-family: 'system-ui';
        box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
    }

    .form_div {
        text-transform: uppercase;
    }

        .form_div > label {
            letter-spacing: 3px;
            font-size: 1rem;
        }

    .info_div {
        text-align: center;
        margin-top: 20px;
    }

    .info_div {
        letter-spacing: 1px;
    }

    .field_class {
        width: 100%;
        border-radius: 6px;
        border-style: solid;
        border-width: 1px;
        padding: 5px 0px;
        text-indent: 6px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-family: 'system-ui';
        font-size: 0.9rem;
        letter-spacing: 2px;
    }

    .submit_class {
        border-style: none;
        border-radius: 5px;
        background-color: #FFE6D4;
        padding: 8px 20px;
        font-family: 'system-ui';
        text-transform: uppercase;
        letter-spacing: .8px;
        display: block;
        margin: auto;
        margin-top: 10px;
        box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
        cursor: pointer;
    }

    footer {
        height: 10vh;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: -5px -5px 10px rgb(0,0,0,0.3);
    }

        footer > p {
            text-align: center;
            font-family: 'system-ui';
            letter-spacing: 3px;
        }

            footer > p > a {
                text-decoration: none;
                color: white;
                font-weight: bold;
            }
</style>


<body>
    <header>
        <h1>Measurement Conversion</h1>
    </header>
    <main>
        <div class="form_class">
           
            
            <div class="form_div">
               
                
                @Html.DropDownList("measurementtype", new SelectList(ViewBag.convertList, "Name", "Name"), new { @class = "field_class", @id="measurementtype" })
                <br/>
                <label for="lastName">Convert From</label>
                @*@Html.DropDownList("from", new SelectList(ViewBag.MeasureList, "ConvFrom", "ConvFrom"), new { @class = "field_class", @id="convfrom" })*@
                 <select id="convfrom" name="from" class="field_class"></select>
                <br/>
                 <label for="lastName">Convert To</label>
               @* @Html.DropDownList("to", new SelectList(ViewBag.MeasureList, "ConvTo", "ConvTo"), new { @class = "field_class" , @id="convto"})
                  <br/>*@
                 <select id="convto" name="to" class="field_class"></select>
                <br/>
                <label for="lastName">Measurement Value</label>
                <input type="text" class="field_class" id="measurementvalue"/>
                <br/>
                 <label for="lastName">Result</label>
               
                <span class="field_class"  id="result2"></span>
                <input type="submit" id="SearchBtn" class="submit_class" value="Convert" />
            </div>
           
            <table id="example" class="display" cellspacing="0" width="100%">
             <tbody id="DataSearching"></tbody>
             </table>
       

        </div>
    </main>

   

    <footer>
        
    </footer>
</body>


@*@section Scripts{*@
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mockjax/1.6.2/jquery.mockjax.min.js"></script>


    <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
 <script type="text/javascript">
        $(document).ready(function () {
            $("#SearchBtn").click(function () {
                var measurementtype = $("#measurementtype").val();
                var convfrom = $("#convfrom").val();
                var convto = $("#convto").val();
                var measurementvalue = $("#measurementvalue").val();
                var SetData = $("#DataSearching");
                SetData.html("");
                $.ajax({
                    type: "post",
                    url: "/Home/MeasurementConversion?measurementtype=" + measurementtype + "&convfrom=" + convfrom + "&convto=" + convto + "&measurementvalue=" + measurementvalue,
                    contentType: "html",
                    success: function (result) {
                            $('#result2').html(result);
                    }
                });
            });
        });


         $('#measurementtype').on('autocompletechange change', function () {
            var data = this.value;
            $.ajax({
                type: "Get",
                url: "/Home/Measurementtt?measurementtype=" + data,
                success: function (data) {

                    var s = '<option value="-1">Please Select an option</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].name + '">' + data[i].name + '</option>';
                    }
                    $("#convfrom").html(s);


                }
            })
        });

        $('#measurementtype').on('autocompletechange change', function () {
            var data = this.value;
            $.ajax({
                type: "Get",
                url: "/Home/Measurementtttt?measurementtype=" + data,
                success: function (data) {

                    var s = '<option value="-1">Please Select an option</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].name + '">' + data[i].name + '</option>';
                    }
                    $("#convto").html(s);


                }
            })
        }).change();
    </script>




